.extra__title {
  font-family: $font-header;
  color: $base-black-text;
  font-size: 24px;
  line-height: 24px;
}

.extra__subtitle {
  line-height: 16px;
}

.extra__description-value {
  font-family: $font-description;
  color: $light-dark-text;
  font-size: 14px;
  line-height: 14px;
}

.extra__hot-deal::before {
  content: "";
  background-image: url("../../icons/gift-icon.svg");
  background-size: 78px 80px;
}

.extra__hot-deal {
  font-family: $font-description;
  background-image: url("../../icons/gift-icon.svg");
  background-size: 78px 80px;
  background-repeat: no-repeat;
  background-position: center;
  width: 280px;
  height: 290px;
  background-color: $light-green;
  font-size: 16px;
  line-height: 20px;
  color: $base-white;
}
